<h1>New Article</h1>
<%= form_for :article,:html => { :id => "form-horizontal" }, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </p>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, :class => "form-control"%>
  </p>
 
  <p>
    <%= f.submit :class => "btn btn-default" %>
  </p>
<% end %>

<%= link_to 'Back', articles_path, :class => "btn btn-default" %>
